<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>
      stack_tracy@localhost: /<%= File.basename file %>
    </title>
    <script src="assets/jquery.js" type="text/javascript"></script>
    <script src="assets/bootstrap-tab.js" type="text/javascript"></script>
    <script src="assets/stack_tracy.js" type="text/javascript"></script>
    <link href="assets/bootstrap-tab.css" type="text/css" rel="stylesheet" media="screen"/>
    <link href="assets/stack_tracy.css" type="text/css" rel="stylesheet" media="screen"/>
  </head>
  <body>
    <div id="page">
      <h1>
        StackTracy&nbsp; <small><a href="file://<%= file %>"><%= file %></a></small>
      </h1>
      <div class="tabbable">
        <ul class="nav nav-tabs">
          <li class="active">
            <a href="#stack_trace" data-toggle="tab">Stack trace</a>
          </li>
          <li>
            <a href="#cumulatives" data-toggle="tab">Cumulatives</a>
          </li>
        </ul>
        <div class="tab-content">
          <%
             current_depth = 0
             excluded_objects = if events.size > 7500
               %w(Array BasicObject Enumerable Fixnum Float Hash IO Kernel Module Mutex Numeric Object Rational String Symbol Thread Time)
             else
               []
             end
             corrections = []
             cumulatives = {}
          %>
          <div class="tab-pane active" id="stack_trace">
            <div class="bold">
              <span class="time">Time</span>
              <span class="duration">Duration</span>
              <span class="call">Call</span>
            </div>
            <% events.each_with_index do |event, index| %>
            <%
               skip = excluded_objects.include?(event[:object]) || event[:object].match(/^#/)
               cumulatives[event[:call]] ||= {:duration => 0.0, :count => 0}
               cumulatives[event[:call]][:duration] += event[:duration]
               cumulatives[event[:call]][:count] += 1
               corrections.size.times do |i|
                 event[:depth] <= corrections[0] ? corrections.shift : break
               end
            %>
            <% if skip %>
              <% corrections.unshift event[:depth] if corrections.empty? || corrections.first != event[:depth] %>
            <% else %>
              <% if current_depth < event[:depth] - corrections.size %>
                <div class="group">
              <% elsif current_depth > event[:depth] - corrections.size %>
                <%= "</div>" * (current_depth - (event[:depth] - corrections.size)) %>
              <% end %>
              <div>
                <span class="time">
                  <%= "%.6f" % event[:time] %>
                </span>
                <span class="duration">
                  <%= "%.6f" % event[:duration] %>
                </span>
                <span class="call">
                  <%= "&nbsp;&nbsp;&nbsp;" * (event[:depth] - corrections.size) %>
                  <% if (next_event = events[index + 1]) && next_event[:depth] > event[:depth] %>
                    <a class="toggler" href="#" onclick="return false">
                      <%= event[:call] %>
                    </a>
                  <% else %>
                    <%= event[:call] %>
                  <% end %>
                </span>
              </div>
              <% current_depth = event[:depth] - corrections.size %>
            <% end %>
          <% end %>
          <%= "</div>" * [current_depth - corrections.size, 0].max %>
          </div>
          <div class="tab-pane" id="cumulatives">
            <div class="bold">
              <span class="average">Average</span>
              <span class="duration">Duration</span>
              <span class="count">Count</span>
              <span class="call">Call</span>
            </div>
            <% cumulatives.sort{|(ak, av), (bk, bv)| bv[:count] <=> av[:count]}.each do |call, stats| %>
            <div>
              <span class="average">
                <%= "%.6f" % (stats[:duration] / stats[:count].to_f) %>
              </span>
              <span class="duration">
                <%= "%.6f" % stats[:duration] %>
              </span>
              <span class="count">
                <%= stats[:count] %>
              </span>
              <span class="call">
                <%= call.gsub("<", "&lt;").gsub(">", "&gt;") %>
              </span>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div id="footer">
      made by <a href="https://twitter.com/archan937">Paul Engel (@archan937)</a> - <a href="https://github.com/archan937/stack_tracy">@github</a> - <a href="http://holder.nl">Internetbureau Holder B.V.</a>
    </div>
  </body>
</html>